.dropdownContainer {
  flex-grow: 5;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dropdown {
  height: 100%;
  width: 100%;
  flex-grow: 5;
}

.dropdownButton {
  height: 100%;
  min-width: 15rem;
  width: 100%;
  line-height: 100%;
  background: none;
  border: none;
  margin: 0;
  min-height: 3rem;
  padding: 0 1rem;
  font-size: 24pt;
  border-radius: 0;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}

.dropdownContainer .dropdown.active .dropdownButton {
  background-color: var(--accent);
  color: var(--text);
}

.dropdownContent {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 3;
}
