.starsContainer {
  text-align: left;
  margin: 0rem 0rem 0rem 1rem
}

.starsContainer * {
  height: 16px;
  width: 16px;
  display: inline-block;
}

.full {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: gold;
}

.half {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background: linear-gradient(to right, gold 0%, gold 50%, gray 50%, gray 100%)
}

.empty {
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  background-color: grey;
  }