@font-face {
  font-family: "Lexend Deca";
  font-style: "Regular";
  src: url("./fonts/Lexend-Deca.woff2");
}

@font-face {
  font-family: "Edu SA Beginner";
  src: url("./fonts/Edu-Sa-Beginner.woff2");
}