.header {
  position:fixed;
  left: 0px;
  top: 0px;
  height: 5rem;
  width: 100%;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dummyHeader {
  position: static;
}