.header {
  position: fixed;
  left: 0px;
  top: 0px;
  height: 5rem;
  width: 100%;
  display: flex;
  background-color: white;
  flex-direction: row;
  justify-content: space-between;
  z-index: 50;
}

.header img {
  width: auto;
  height: 100%;
}

.header .dropdown button {
  background-color: white;
  color: var(--text);
  font-family: "Edu SA Beginner";
  font-size: 24pt;
}

@media (max-width: 736px) {
  .header .dropdown button {
    min-width: 8rem;
  }
}

.header .dropdownElement {
  font-size: 16pt !important;
}

.header .logoContainer {
  margin: 0.5rem;
  margin-left: 1rem;
  width: 6.5rem;
}

.header .categoriesContainer {
  display: flex;
  flex-direction: row;
}

.dummyHeader {
  position: static;
  background-color: var(--background);
  height: 6rem;
}
