.container {
  margin: 1rem;
  margin-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}

.container div {
  min-width: 9rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: left;
  margin-bottom: 0.75rem;
}

.container input {
  width: 16pt;
  height: 16pt;
  margin-top: 0;
  margin-bottom: 0;
  accent-color: var(--accent);
}

.container label {
  display: inline-block;
  font-size: 12pt;
  margin-top: auto;
  margin-bottom: auto;
}

.container label::first-letter {
  text-transform: capitalize;
}
