.container {
  max-width: 330px;
  background-color: var(--inner-background);
  border-radius: 0.5rem;
}

.container h6 {
  font-size: 16pt;
  margin: 0.5rem;
  margin-left: 1rem;
}

@media (max-width: 736px) {
  .container {
    display: none;
  }
}

.forceShow {
  display: block !important;
}

.container .priceHeader {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.container .colorHeader {
  margin-bottom: 0rem;
}
