.slider {
  height: 1rem;
  margin: 1rem;
}

.slider .sliderThumb {
  position: absolute;
  top: -16px;
  height: 2rem;
  width: 2rem;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .sliderThumb p {
  margin: 0;
  padding: 0;
  color: var(--secondary);
}

