.slider {
  margin: 1rem;
}

.slider .sliderTrack {
  height: 2px;
  color: pink;
  background-color: pink;
}

.slider .sliderThumb {
  position: absolute;
  top: -16px;
  height: 2rem;
  width: 2rem;
  color: black;
  background-color: magenta;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider .sliderThumb p {
  margin: 0;
  padding: 0;
}

