.productGrid {
  text-align: center;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr ;
  row-gap: 1rem;
  align-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1396px) {
  .productGrid {
    grid-template-columns: 1fr 1fr ;
  }
}

@media (max-width: 1066px) {
  .productGrid {
    grid-template-columns: 1fr ;
  }
}


@media (max-width: 736px) {
  .productCounter {
    margin-top: 0rem;
  }
  
  .productGrid {
    grid-template-columns: 1fr;
    align-content: center;
    justify-content: center;
  }
}

