.container {
  border: 1px solid black;
  display: inline-block;
  min-width: 330px;
}

/* category title */
.container h2 {
  margin: 0.5rem 1rem;
  font-family: "Edu SA Beginner";
  font-size: 24pt;
}

/* category description */
.container p {
  margin: 0.5rem 1rem;
}