body {
  margin: 1rem;
  margin-bottom: 0rem;
  width: 1396px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background);
}

* {
  box-sizing: border-box;
  color: var(--text);
}

@media (max-width: 1396px) {
  body {
    width: 1066px;
  }
}
@media (max-width: 1066px) {
  body {
    width: 736px;
  }
}

@media (max-width: 736px) {
  body {
    width: 406px;
  }
}

.App {
  text-align: center;
}
